@charset "UTF-8";
@font-face {
	font-family: "Roboto-Light";
	src: url(Roboto-Light.ttf);
}

@font-face {
	font-family: "PassionSansPDah-RegularItal";
	src: url(PassionSansPDah-RegularItal.ttf);
}

@font-face {
	font-family: "Roboto-Thin";
	src: url(Roboto-Thin.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body.home {
	overflow: hidden;
}

body.subpage {
	overflow-x: hidden;
	background: rgba(200,200,200,1);
}

/* HEADER: Top Left */

.topBar {
	height: 12vh;
	width: 100%;
}

.topBarLeft {
	width: 20%;
	height: 100%;
	background: url("images/piHomeBannerLeft.jpg");
	background-size: 100% 100%;
	float: left;
}

.topBarLeftRightOverlay {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.8);
}

.topBarLeftG {
	background: url("images/bench-sea-sunset-man.jpg");
	background-size: 100% 100%;
	position: relative;
}

.topBarLeftG:hover .topBarLeftMenuTitle {
	font-size: 35px;
	letter-spacing: 8px;
}

.topBarLeftMenuTitle {
	transition: font-size .75s, letter-spacing .75s;
	font-size: 30px;
	letter-spacing: 5px;
}

.topBarLeftMenu {
	width: 20vw;
	height: 12vh;
	position: absolute;
	z-index: 5;
}

#topBarLeftMenuTitle {
	font-size: 30px;
	letter-spacing: 5px;
	opacity: 1;
	transition: opacity .75s;
}

/* HEADER: Top Middle & Extras */

.topBarLeftRightMenu {
	width: 100%;
	height: 100%;
	z-index: 2;
	display: table;
	background: rgba(255,255,255,.7);
}

.topBarLeftRightMenuTitle {
	display: table-cell;
	text-align: center;
	font-family: "Roboto-Thin";
	vertical-align: middle;
	cursor: default;
}

.topBarMid {
	height: 100%;
	width: 60%;
	background: url("images/piHomeBanner.jpg");
	background-size: 100% 100%;
	float: left;
	display: table;
}

.topBarLeftMenu:hover>.topBarMenuItem {
	opacity: 1;
}

.topBarRightMenu:hover>.topBarMenuItem {
	opacity: 1;
}

.topBarMenuItem:hover {
	background: rgba(255,255,255,1);
}

.topBarMenuItem {
	width: 100%;
	height: 33.33%;
	display: table;
	position: relative;
	background: rgba(255,255,255,.3);
	opacity: 0;
	transition: background .75s, opacity .75s;
}

.topBarMenuText {
	display: table-cell;
	font-family: "Roboto-Light";
	text-align: center;
	vertical-align: middle;
	letter-spacing: 4px;
	font-size: 0.9vw;
}

.topBackContainer {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.topBarBack {
	background: rgba(255,255,255,.8);
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.bannerTitleContainer {
	display: table-cell;
	vertical-align: middle;
}

.topBarBack:hover .bannerTitle {
	letter-spacing: 18px;
}

.bannerTitle {
	font-family: "PassionSansPDah-RegularItal";
	font-size: 3vw;
	letter-spacing: 14px;
	vertical-align: center;
	transition: font-size .75s, letter-spacing .75s;
	text-decoration: none;
	color: #000000;
}

.topBarContact {
	background: url("images/man-field-smartphone-yellow.jpg");
	background-size: 100% 100%;
	float: left;
	width: 20%;
	height: 100%;
}

.topBarAbout {
	background: url("images/books-magazines-building-school.jpg");
	background-size: 100% 100%;
	float: left;
	width: 20%;
	height: 100%;
}

/* HEADER: Top Right */

.topBarRight {
	width: 20%;
	height: 100%;
	background: url("images/piHomeBannerRight.jpg");
	background-size: 100% 100%;
	float: left;
}

.topBarRightMenu {
	width: 20vw;
	height: 12vh;
	position: absolute;
	margin-left: 80vw;
	z-index: 5;
}

#topBarRightMenuTitle {
	font-size: 30px;
	letter-spacing: 5px;
	opacity: 1;
	transition: opacity .75s;
}

/* Home Tiles */

#tileContainer {
	height: 88vh;
	width: 100%;
}

.tile {
	height: 100%;
	width: 33.33%;
	float: left;
	position: relative;
}

.tileOverlay:hover {
	background: rgba(255,255,255,.7);
}

.tileOverlay {
	background: rgba(255,255,255,.5);
	display: block;
	height: 100%;
	width: 100%;
	transition: background 1s;
	padding: 0;
}

.tileOverlay:hover .titleContainer{
	padding-top: 20vh;
}

.titleContainer {
	width: 100%;
	display: table;
	padding-top: 38vh;
	transition: padding-top .75s;
	text-align: center;
	z-index: 4;
}

.tileTitle {
	display: table-cell;
	text-align: center;
	font-family: "Roboto-Thin";
	letter-spacing: 5px;
	cursor: default;
}

.titleContainerG {
	width: 100%;
	display: table;
	padding-top: 38vh;
	text-align: center;
}

.tileTitleG {
	display: table-cell;
	text-align: center;
	font-family: "Roboto-Thin";
	letter-spacing: 5px;
	transition: letter-spacing .75s, font-size .75s;
}

.tileOverlay:hover .submenu1Container {
	margin-top: 10vh;
	opacity: 1;
	background: rgba(255,255,255,.4);
}

.tileOverlay:hover > .submenu1Container:hover {
	background: rgba(255,255,255,1);
}

.submenu1Container {
	margin: 0 auto;
	margin-top: 0vh;
	height: 8%;
	opacity: 0;
	background: rgba(255,255,255,0);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: #FFFFFF 3px solid;
	transition: opacity .75s, margin-top .75s, background .75s;
}

.tileOverlay:hover .submenu2allContainer {
	opacity: 1;
	background: rgba(255,255,255,.4);
}

.tileOverlay:hover > .submenu2allContainer:hover {
	background: rgba(255,255,255,1);
}

.submenuContainerA {
	width: 50%;
	z-index: 4;
	position: relative;
}

.submenuContainerC {
	width: 70%;
	z-index: 4;
	position: relative;
}

.submenu2allContainer {
	margin: 0 auto;
	margin-top: 1vh;
	height: 8%;
	opacity: 0;
	background: rgba(255,255,255,0);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: #FFFFFF 3px solid;
	transition: opacity .75s, background .75s;
}

.tileSubtitleA {
	display: table-cell;
	font-family: "Roboto-Light";
	text-align: center;
	vertical-align: middle;
	letter-spacing: 4px;
}

.tileSubtitleC {
	display: table-cell;
	font-family: "Roboto-Light";
	text-align: center;
	vertical-align: middle;
	letter-spacing: 4px;
}

.tile1 {
	background: url("images/books-magazines-building-school.jpg") 0% 0%;
	background-size: 100% 100%;
}

.tile2 {
	background: url("images/bench-sea-sunset-man.jpg") 0% 0%;
	background-size: 100% 100%;
}

.tile3 {
	background: url("images/man-field-smartphone-yellow.jpg") 0% 0%;
	background-size: 100% 100%;
}

/* Subpage Header Menus */

.subpageMenu {
	width: 100vw;
	height: 3vh;
	margin: 0 auto;
	background-color: #666666;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.subpageMenuG {
	width: 80vw;
	height: 3vh;
	margin: 0 auto;
	background-color: #666666;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.subpageTitleContainerG {
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
}

.subpageTitleContainer {
	width: 34%;
	height: 100%;
	float: left;
	text-align: center;
}

.subpageTitle {
	font-size: 1.15vw;
	font-family: "Roboto-Light";
	color: #FFFFFF;
	letter-spacing: 10px;
}

.subpageMenuItem:hover {
	background: rgba(51,51,51,1);
}

.subpageMenuItem {
	width: 21.5%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
	background: rgba(51,51,51,.5);
	transition: background .75s;
}

.subpageSubtitle {
	font-size: 1.15vw;
	font-family: "Roboto-Light";
	color: #FFFFFF;
	letter-spacing: 6px;
}

.subpageMenuCurrent {
	width: 21.5%;
	height: 100%;
	float: left;
	text-align: center;
	background: rgba(208,208,208,1);
	cursor: default;
}

.subpageSubtitleCurrent {
	font-size: 1.15vw;
	font-family: "Roboto-Light";
	color: #000000;
	letter-spacing: 6px;
}

/* The Designer */

#theDesignerContainer {
	width: 100vw;
	height: 88vh;
	background: url("images/room.jpg");
	background-size: 100% 100%;
}

.designerNameWrapper {
	width: 100%;
	height: 22%;
	display: table;
}

.designerNameSpan {
	display: table-cell;
	vertical-align: middle;
}

.designerNameContainer {
	width: 47%;
	height: 25%;
	background: rgba(255,255,255,0.9);
	display: table;
	margin: 0 auto;
}

.designerName {
	font-family: "Roboto-Light";
	display: table-row;
	text-align: center;
	letter-spacing: 20px;
}

.designerTitle {
	font-family: "Roboto-Light";
	font-size: 1.5vw;
	display: table-row;
	letter-spacing: 10px;
	text-align: right;
}

.designerInfoWrapper {
	width: 100%;
	height: 50%;
}

.designerPicContainer {
	width: 15%;
	height: 90%;
	margin-left: 3%;
	border: 6px solid #333333;
	border-radius: 10px;
	float: left;
}

.designerPic {
	width: 100%;
	height: 100%;
	background: url("images/T_Prestel.jpg");
	background-size: 100% 100%;
	border-radius: 3px;
}

.designerDescriptionContainer {
	width: 53%;
	height: 30%;
	display: table;
	float: left;
	margin-left: 1.5%;
	margin-top: 1%;
	background: rgba(255,255,255,0.9);
	padding: 3vh 2vw;
	line-height: 220%;
}

.designerDescription {
	font-family: "Roboto-Light";
	display: table-cell;
}

.designerReviewWrapper {
	width: 19%;
	height: 92%;
	margin-left: 1.5vw;
	margin-top: 1vh;
	float: left;
	background: rgba(255,255,255,0.9);
}

.designerReviewTitleContainer {
	width: 100%;
	height: 10%;
	display: table;
	background-color: #666666;
}

.designerReviewTitle {
	text-align: center;
	font-family: "Roboto-Light";
	font-size: 1.2vw;
	color: #FFFFFF;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 2px;
}

.designerReviewContainer {
	height: 80%;
	width: 90%;
	display: table;
	padding: 5%;
}

.designerReview {
	text-align: center;
	font-family: "Roboto-Light";
	font-size: 1vw;
	display: table-row;
}
.designerReviewer {
	text-align: center;
	font-family: "Roboto-Light";
	font-size: .7vw;
	display: table-row;
}
.credClientWrapper {
	width: 100%;
	height: 24.6%;
}
.designerCredModule {
	width: 45vw;
	height: 14vh;
	margin-left: 3%;
	background: rgba(255,255,255,0.9);
	position: absolute;
}
.designerCredTitleContainer {
	width: 100%;
	height: 30%;
	display: table;
	background-color: #666666;
}
.designerCredTitle {
	text-align: center;
	font-size: 1.2vw;
	font-family: "Roboto-Light";
	display: table-cell;
	vertical-align: middle;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.designerCredWrapper {
	width: 100%;
	height: 70%;
}
.designerCredContainer {
	width: 14.85vw;
	height: 100%;
	float: left;
	display: table;
	position: relative;
	text-align: center;
	vertical-align: center;
	border-left: solid #666666 .1vw;
}
.designerCredContainer2 {
	display: table-cell;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
}
.designerCredContainer3 {
	display: table-cell;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.designerCredContainer4 {
	width: 100%;
	height: 100%;
}
.designerCredTextContainer {
	display: table;
	width: 100%;
	height: 100%;
}
.designerCred {
	height: 100%;
	width: 100%;
	font-size: 1vw;
	font-family: "Roboto-Light";
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.asid {
	background: url("images/ASID_Textlogo.png") no-repeat 100%;
	background-size: 90% 80%;
	background-position: center center;
}
.nkba {
	background: url("images/nkba.png") no-repeat 100%;
	background-size: 80% 130%;
	background-position: center center;
}
.osu {
	background: url("images/osu-logo.png") no-repeat 100%;
	background-size: 50% 115%;
	background-position: center center;
}
.notableClienteleModule {
	position: absolute;
	width: 46.6vw;
	height: 14vh;
	background: rgba(255,255,255,0.9);
	margin-left: 52%;
}
.notableClienteleTitleContainer {
	display: table;
	width: 100%;
	height: 30%;
	text-align: center;
	line-height: 4.2vh;
	background-color: #666666;
	font-size: 1.2vw;
	font-family: "Roboto-Light";
	color: #FFFFFF;
	letter-spacing: 2px;
}
.notableClienteleWrapper {
	width: 100%;
	height: 70%;
}
.notableClienteleContainer {
	float: left;
	width: 15.378vw;
	height: 100%;
	border-left: solid #666666 .1vw;
}
.RaH {
	background: url("images/RaH.png") no-repeat 100%;
	background-size: 75% 75%;
	background-position: center center;
}
.JHB {
	background: url("images/JHB.jpg") no-repeat 100%;
	background-size: 40% 95%;
	background-position: center center;
}
.KKC {
	background: url("images/KKC.png") no-repeat 100%;
	background-size: 90% 90%;
	background-position: center center;
}

/* Services */

.servicesTitleContainer {
	 width: 100vw;
	 height: 33vh;
	 background: rgba(256,256,256,1);
}


/* Footer */

.activator {
	position: absolute;
	bottom: 0px;
	display: hidden;
	height: 6vh;
	width: 100%;
	z-index: 2;
}

.hide {
	opacity: 0;
}

.arrowContainer {
	position: absolute;
	bottom: 0px;
	display: hidden;
	height: 6vh;
	width: 100%;
	z-index: 1;
}

#arrow {
	width: 2.25vw;
	height: 3.5vh;
	padding-bottom: 1vh;
	margin: 0 auto;
	background: url("images/arrow.svg");
	background-size: 100% 100%;
	transition: transform .75s, webkit-transform .75s;
}

.footer {
	bottom: 0;
	position: absolute;
	width: 100vw;
	height: 6vh;
	background-color: #333333;
	z-index: -1;
}

.footerContainer {
	height: 100%;
	margin: 0 auto;
	display: table;
}

.footerTextContainer1 {
	height: 6vh;
	display: table-cell;
	float: left;
}

.footerTextContainer2 {
	height: 100%;
	display: table;
	border-right: #d1d1d1 1px solid;
	padding: 0 6vw;
	cursor: default;
}

.footerLeftBorder {
	border-left: #d1d1d1 1px solid;
}

.footerText {
	color: #d1d1d1;
	text-align: center;
	font-family: "Roboto-Light";
	font-size: 1.2vw;
	letter-spacing: 4px;
	vertical-align: middle;
	display: table-cell;
}

#PPLink {
	text-decoration: none;
}

/* @Media Settings */

@media screen and (max-width:1920px) {
	.tileTitle {
		font-size: 70px;
	}
	.tileTitleG {
		font-size: 70px;
	}
	.tileSubtitleC {
		font-size: 30px;
	}
	.tileOverlay:hover .tileTitleG {
		letter-spacing: 15px;
		font-size: 90px;
	}
	.tileSubtitleA {
		font-size: 30px;
	}
	.designerName {
		font-size: 4vw;
	}
	.designerDescription {
		font-size: 1vw;
	}
}
@media screen and (max-width: 1550px) {
	.tileTitle {
		font-size: 60px;
	}
	.tileTitleG {
		font-size: 60px;
	}
	.tileOverlay:hover .tileTitleG {
		letter-spacing: 12px;
		font-size: 80px;
	}
	.tileSubtitleA {
		font-size: 22px;
	}
	.tileSubtitleC {
		font-size: 22px;
	}
	.designerName {
		font-size: 3.5vw;
	}
}

@media screen and (max-width: 1100px) {
	.tileOverlay:hover .tileTitleG {
		letter-spacing: 10px;
		font-size: 70px;
	}
}

/* Generics */

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.link-spanner {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.container {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.containerTab {
	width: 100%;
	height: 100%;
	display: table;
}

/* Keyframes */

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}